@import url("https://fonts.googleapis.com/css?family=Libre+Franklin");

* {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    letter-spacing: 1px;
}


/* SVG and div styling */
#content {
    margin: auto;
    width: 1550px;
    font-family: 'Montserrat', sans-serif;
    fill: white;
    font-size: 12px;
}

.my-div-icon{
    background: none;
}

#map {
    width: 700px;
    height: 500px;
}

.grid-container {
    grid-template-columns: auto auto;
    padding: 15px;
    display: inline-grid;
    place-items: center;
}

div.tooltip {
    color: black;
    position: relative;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 10px;
    font: 16px "Libre Franklin";
    background: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
}

input {
    color-scheme: dark;
}

input[type=date] {
    text-align: center;
    background-color: rgba(29, 161, 242, 0);
    border-color: white;
    border-width: 1px;
    border-radius: 25px;
    color: #1DA1F2;
    padding: 10px 15px;
    font-size: 16px;
}

/* Darker background on mouse-over */
input[type=date]:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.video-link {
    text-align: center;
    background-color: rgba(29, 161, 242, 0);
    border-color: white;
    border-width: 1px;
    border-radius: 25px;
    color: #1DA1F2;
    padding: 10px 15px;
    font-size: 14px;
}

.video-link:hover {
    background-color: rgba(29, 161, 242, 0.1);
    cursor: pointer;
}

.trend-item {
    background-color: transparent;
    text-align: center;
    border-width: 0px;
    padding: 10px 15px;
    font-size: 24px;
}

.trend-item:hover {
    cursor: pointer;
}

#bubble-chart {
    width: 700px;
    height: 500px;
}

#info-box {
    margin: auto;
    width: 400px;
}

.header {
    width: auto;
    text-align: center;
    margin-bottom: 50px;
}

.h1{
    text-size: 1;
}

/* Vis specific classes */
#countries > .country.selected {
    stroke-width: 2px;
    stroke: black;
    stroke-opacity: 1;
}

#countries > .country {
    stroke-width: 1px;
    stroke: white;
    stroke-opacity: 0.1;
}

.tweet-node{
    cursor: pointer;
}

.tweet-node:hover{
    fill-opacity: .9;
    border-width: 1px;
    border-color: white;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}




/*Scroll Down Arrow*/
#wrapper {
    display: table;
    width:100%;
    height:100%;
}

#wrapper-inner {
    display: table-cell;
    vertical-align:middle;
    width:100%;
    height:100%;
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
    text-align:center;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: white;
    font-family: "Libre Franklin";
    font-size:14px;
    font-weight:bold;
    letter-spacing:.1em;
}
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */

    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */

    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */

    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */

    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: white;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
}